@import "/src/styles/global.scss";

.works {
  text-align: center;
  margin-top: 8vw;

  @include forVerticalTablet() {
    margin-top: 15vw;
  }

  @include forMobile() {
    margin-top: 20vw;
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8vw;
    margin-top: 3vw;

    @include forMobile() {
      justify-content: space-between;
      row-gap: 1.2vw;
    }
  }

  &__button {
    width: 32.7%;
    height: 42.1vw;

    @include forMobile() {
      width: 100%;
      height: 92.1vw;
      margin-top: 10vw;
    }
  }
}
