@import "/src/styles/global.scss";

.works-hero {
  width: 100vw;
  height: 100lvh;
  position: relative;
  overflow: hidden;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2vw);
    -webkit-backdrop-filter: blur(2vw);
    width: 100%;
    min-height: 20vh;
    overflow: hidden;
    padding: 3vw 0;
    position: relative;

    @include forMobile {
      padding: VW(90, $mobile) 0 VW(30, $mobile);
      min-height: VW(90, $mobile);
      -webkit-backdrop-filter: blur(10vw);
    }

    &__title {
      position: absolute;
      bottom: 0%;
      text-align: center;

      @include forMobile {
        font-size: 10.3vw;
        bottom: 10%;
      }
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    // scale: 1.02;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include forVerticalTablet {
      background-size: cover !important;
    }
  }
}
