@import "/src/styles/global.scss";

.partners {
  margin: 10vw 0 4vw;
  padding: 1vw 0;
  width: 100vw;
  overflow: hidden;

  @include forVerticalTablet() {
    margin-top: 20vw 0 5vw;
  }
  
  @include forMobile() {
    margin: 20vw 0 10vw;
  }

  &__slider {
    height: 2.5vw;
    position: relative;
    z-index: 2;
    display: flex;

    @include forVerticalTablet() {
      height: 6vw;
    }

    @include forMobile() {
      height: 8.5vw;
    }

    &-wrapper {
      display: flex;
      gap: 15vw;
      animation: spinAnimation 16s infinite linear;
    }
  }

  &__logo {
    object-fit: contain;
    object-position: center;
    width: 8vw;
    height: 2.5vw;

    @include forVerticalTablet() {
      width: 16vw;
      height: 5.5vw;
    }

    @include forMobile() {
      width: 24vw;
      height: 8.5vw;
    }
  }
}

@keyframes spinAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}