@import "/src/styles/global.scss";

.partners {
  margin: 10vw 0 4vw;
  padding: 1vw 0;
  width: 100vw;
  overflow: hidden;

  @include forVerticalTablet() {
    margin-top: 20vw 0 5vw;
  }
  
  @include forMobile() {
    margin: 20vw 0 10vw;
  }

  &__slider {
    height: 2.5vw;
    position: relative;
    z-index: 2;

    @include forVerticalTablet() {
      height: 6vw;
    }

    @include forMobile() {
      height: 8.5vw;
    }

    &-wrapper {
      position: absolute;
      display: flex;
      gap: 15vw;
      transform: translateX(-200%);
      animation: 6s infinite linear;

      @include forDesktop() {
        animation-name: spinDesktop;
      }

      @include forVerticalTablet() {
        animation-name: spinTablet;
      }

      @include forMobile() {
        animation-name: spinMobile;
      }

      &:nth-of-type(2) {
        left: 90%;

        @include forVerticalTablet() {
          left: 120%;
        }

        @include forMobile() {
          left: 160%;
        }
      }

      &:nth-of-type(3) {
        left: 180%;

        @include forVerticalTablet() {
          left: 240%;
        }

        @include forMobile() {
          left: 320%;
        }
      }
    }
  }

  &__logo {
    object-fit: contain;
    object-position: center;
    width: 8vw;
    height: 2.5vw;

    @include forVerticalTablet() {
      width: 16vw;
      height: 5.5vw;
    }

    @include forMobile() {
      width: 24vw;
      height: 8.5vw;
    }
  }
}

@keyframes spinDesktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-117%);
  }
}

@keyframes spinTablet {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes spinMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-113.5%);
  }
}
