@import "./utils/typography";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";

body {
  @extend %body-text;
  color: $w-100;
  background-color: $b-100;
  overflow-x: hidden;
  opacity: 1;
}

::selection {
  color: $g-60;
  background: $c-purple;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding-right: 3.13vw;
  padding-left: 3.13vw;

  @include forVerticalTablet() {
    padding-right: 5.3vw;
    padding-left: 5.3vw;
  }

  @include forMobile() {
    padding-right: 5.2vw;
    padding-left: 5.2vw;
  }
}

.link-with-arrow {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 0.4vw;
  width: 8vw;
  // text-wrap: nowrap;

  &::after {
    display: block;
    content: "";
    background: url("/media/arrow.svg") no-repeat;
    background-size: contain;
    background-position: 0 0;
    height: 90%;
    width: 13%;
    transition: transform 1s $ExpoInOut;
    overflow: hidden;
  }

  @include hover() {
    &::after {
      transform: rotate(-360deg);
    }
  }
}

[data-hidden] {
  opacity: 0;
}

[data-only-desktop] {
  display: none;

  @include forDesktop() {
    display: block;
  }
}

[data-only-desktop--flex] {
  display: none;

  @include forDesktop() {
    display: flex;
  }
}

[data-not-desktop] {
  display: block;

  @include forDesktop() {
    display: none;
  }
}

[data-not-desktop--flex] {
  display: flex;

  @include forDesktop() {
    display: none;
  }
}

[data-hide-for-mobile] {
  display: block;

  @include forMobile() {
    display: none;
  }
}

[data-only-mobile] {
  display: none;

  @include forMobile() {
    display: block;
  }
}

[data-touch-element] {
  display: block;

  @include forDesktop {
    display: none;
  }

  @include forHorizontalTablet {
    display: none;
  }

  @media (hover: none) and (min-aspect-ratio: 2/3) {
    display: block !important;
  }
}

[data-desktop-element] {
  @media (hover: none) {
    display: none !important;
  }

  @include forMobile {
    display: none;
  }

  @include forVerticalTablet {
    display: none;
  }

  @include forDesktop {
    display: block;
  }

  @include forHorizontalTablet {
    display: block;
  }
}
