@import "./utils/typography";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";

body {
  @extend %body-text;
  color: $w-100;
  background-color: $b-100;
  overflow-x: hidden;
  opacity: 1;
}

::selection {
  color: $g-60;
  background: $c-purple;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 3.13vw;

  @include forVerticalTablet() {
    padding: 0 5.3vw;
  }

  @include forMobile() {
    padding: 0 5.2vw;
  }
}

.link-with-arrow {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 0.4vw;
  width: 8vw;
  // text-wrap: nowrap;
  
  &::after {
    display: block;
    content: "";
    background: url("/media/arrow.svg") no-repeat;
    background-size: contain;
    background-position: 0 0;
    height: 90%;
    width: 13%;
    transition: transform 1s $ExpoInOut;
    overflow: hidden;
  }

  &:hover {
    &::after {
      transform: rotate(-360deg);
    }
  }
}

[data-hidden] {
  opacity: 0;
}
