@import "./utils/typography";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";

body {
  @extend %body-text;
  color: $c-white;
  background-color: $c-black;
  overflow-x: hidden;
  opacity: 1;
}

::selection {
  color: $g-60;
  background: $c-purple;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 4vw;
}
