@import "/src/styles/global.scss";

.work-descriptions {
  @include grid();
  margin-top: 2vw;

  @include forMobile {
    display: flex;
    margin-top: 10vw;
    flex-direction: column;
    row-gap: 12vw;
  }

  &__descriptions {
    grid-column: 1/6;
  }

  .info-list {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 45%;

    @include forMobile {
      gap: 4vw;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1vw;

      grid-column: 9/13;
    }
  }
}
