@import "/src/styles/global.scss";

.pixel-card {
  width: 32.7%;
  height: 42.1vw;
  overflow: hidden;
  position: relative;

  @include forMobile() {
    width: 49.2%;
    height: 61vw;
  }

  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    outline: 0.2vw solid;

    &:nth-of-type(4n + 1) {
      outline-color: $c-orange;
    }

    &:nth-of-type(4n + 2) {
      outline-color: $c-blue;
    }

    &:nth-of-type(4n + 3) {
      outline-color: $c-purple;
    }

    &:nth-of-type(4n + 4) {
      outline-color: $c-yellow;
    }

    canvas {
      width: 110%;
      height: 110%;
    }

    .pixel-card__logo {
      opacity: 1;
    }
  }

  &__logo {
    width: 66%;
    height: 10%;
    position: absolute;
    bottom: 4%;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    &-image {
      object-position: center;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.mobile {
  &.pixel-card {
    outline: none !important;

    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__logo {
      opacity: 1;
      width: 90%;
      height: 16%;
    }
  }
}
