@font-face {
  font-family: DenimWD;
  src: url("/public/font/Denim-wd/DenimWDTRIAL-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DenimWD;
  src: url("/public/font/Denim-wd/DenimWDTRIAL-SemiBold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}
