@import "./mixins";

.super-text {
  font-family: DenimWD, sans-serif;
  font-size: 6.6vw;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: normal;

  @include forMobile() {
    font-size: 15.4vw;
  }

  @include forVerticalTablet() {
    font-size: 9.7vw;
  }
}

%h1 {
  font-family: DenimWD, sans-serif;
  font-size: 4.7vw;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: normal;

  @include forMobile() {
    font-size: 10.3vw;
  }

  @include forVerticalTablet() {
    font-size: 5.9vw;
  }
}

%h2 {
  font-family: DenimWD, sans-serif;
  font-size: 2.6vw;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: normal;

  @include forMobile() {
    font-size: 7.2vw;
  }

  @include forVerticalTablet() {
    font-size: 4.5vw;
  }
}

%h3 {
  font-family: DenimWD, sans-serif;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;

  @include forMobile() {
    font-size: 6.2vw;
  }

  @include forVerticalTablet() {
    font-size: 3.2vw;
  }
}

%h4 {
  font-family: DenimWD, sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  
  @include forMobile() {
    font-size: 4.2vw;
  }

  @include forVerticalTablet() {
    font-size: 2.2vw;
  }
}

%body-text {
  font-family: DenimWD, sans-serif;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  @include forMobile() {
    font-size: 4.1vw;
  }

  @include forVerticalTablet() {
    font-size: 2.3vw;
  }
}

%link {
  @extend %body-text;
  font-size: 0.85vw;
  font-weight: bold;
  letter-spacing: -0.04vw;
  text-transform: uppercase;

  @include forMobile() {
    font-size: 4.1vw;
  }

  @include forVerticalTablet() {
    font-size: 2.2vw;
  }
}

%small-text {
  font-size: 0.85vw;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 130%;

  @include forMobile() {
    font-size: 4.1vw;
  }

  @include forVerticalTablet() {
    font-size: 2.2vw;
  }
}

.semiBold {
  font-weight: bold;
}

body {
  @extend %body-text;
}

.shadow {
  color: $g-60;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4
}

a {
  @extend %link;
}

.smallText {
  @extend %small-text
}
