@import "/src/styles/global.scss";

.hero {
  height: 100lvh;
  width: 100vw;
  position: relative;

  &__video-bg {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100lvh;
    object-fit: cover;
  }

  &__logo {
    grid-column: 1/13;
    width: 100%;
    height: 100lvh;

    &-canvas {
      image-rendering: pixelated;
      object-fit: cover;
      width: 100%;
      height: 100%;

      mask-image: url("/public/media/logo-big.svg");
      mask-repeat: no-repeat;
      mask-size: 94%;
      mask-position: 50% 91%;

      @include forVerticalTablet() {
        mask-position: 50% 95%;
      }

      @include forMobile() {
        display: none;
      }
    }
  }

  &__bottom {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.5vw);
    -webkit-backdrop-filter: blur(3.5vw);
    width: 100vw;
    height: 23.6vw;
    z-index: -1;
    position: absolute;
    bottom: 0;
    color: $w-100;

    @include forVerticalTablet() {
      height: 30vw;
    }

    @include forMobile() {
      height: 36vw;
      backdrop-filter: blur(7vw);
    -webkit-backdrop-filter: blur(7vw);
    }

    .content {
      @include grid();
      row-gap: 36lvh;
      margin: 0.6vw 3.2vw;
      height: 100%;

      @include forMobile() {
        display: none;
      }
    }
  }

  .timelines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    grid-column: 1/13;
    margin-bottom: 0.5vw;
    // opacity: 0.4;

    &__name {
      padding-bottom: 0.4vw;
    }

    &__item {
      position: relative;
    }

    &__category {
      position: absolute;
      bottom: 0;
    }

    &__line {
      display: block;
      width: 100%;
      height: 0.1vw;
      background-color: #fff;
      clip-path: inset(0 100% 0 0);
    }
  }
}
