@import "/src/styles/global.scss";

.hero {
  height: 100lvh;
  width: 100vw;
  position: relative;

  &__video-bg {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100lvh;

    .video-bg {
      &__wrapper {
        // position: relative;
        // z-index: -1;
        opacity: 0;

        &--active {
          // z-index: 2;
          opacity: 1;
        }
      }

      & > video {
        object-fit: cover;
        position: absolute;
        top: 0;
      }
    }
  }

  &__logo {
    grid-column: 1/13;
    width: 100%;
    height: 100lvh;

    &-canvas {
      image-rendering: pixelated;
      object-fit: cover;
      width: 100%;
      height: 100%;

      mask-image: url("/public/media/logo-big.svg");
      mask-repeat: no-repeat;
      mask-size: 94%;
      mask-position: 50% 91%;

      @include forVerticalTablet() {
        mask-position: 50% 95%;
      }

      @include forMobile() {
        display: none;
      }
    }
  }

  &__bottom {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.5vw);
    -webkit-backdrop-filter: blur(3.5vw);
    width: 100vw;
    // height: 23.6vw;
    z-index: -1;
    position: absolute;
    bottom: 0;
    color: $w-100;

    // @include forVerticalTablet() {
    //   height: 30vw;
    // }

    &--empty {
      height: 23.6vw;
    }

    @include forMobile() {
      height: auto;
      backdrop-filter: blur(7vw);
      -webkit-backdrop-filter: blur(7vw);
    }

    .content {
      margin: 0.6vw 3.2vw;
      height: 100%;

      @include forMobile() {
        display: none;
      }
    }

    .mobile {
      display: none;

      @include forMobile {
        display: block;
      }

      .timelines {
        display: flex;
        flex-direction: column;
        gap: VW(10, $mobile);
        padding-top: VW(35, $mobile);
        padding-bottom: 20dvh;

        &__lines {
          display: flex;
          justify-content: space-between;
          column-gap: 1vw;
          margin-top: VW(10, $mobile);
        }
      }
    }
  }

  .timelines {
    display: flex;
    justify-content: space-between;
    column-gap: 1vw;
    grid-column: 1/13;
    margin-bottom: 0.5vw;
    // opacity: 0.4;

    &__name {
      padding-bottom: 0.4vw;
      opacity: 0.4;
      transition: opacity .5s .2s ease;

      @include forMobile {
        opacity: 1;
      }

      &--active {
        opacity: 1;
      }
    }

    &__item {
      position: relative;
      width: 100%;
    }

    &__category {
      margin-top: 36vh;

      @include forHorizontalTablet {
        margin-top: 20.5vw;
      }

      @include forVerticalTablet {
        margin-top: 21vw;
      }
    }

    &__line {
      display: block;
      width: 100%;
      height: 0.1vw;
      background-color: #fff;

      @include forVerticalTablet {
        height: 0.2vw;
      }

      &--mobile {
        position: relative;
        z-index: 3;
        height: 100%;
        width: 100%;
      }

      &--empty {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $g-70;
        position: absolute;
        top: 0;
      }
    }

    &__wrapper {
      width: 100%;
      height: 0.5vw;
      position: relative;
    }
  }
}
