@import "/src/styles/global.scss";

.vacancies {
  margin-top: 14vw;

  @include forMobile {
    margin-top: 20vw;
  }

  &__title {
    text-align: center;
  }

  &__table {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;

    .top {
      display: grid;
      grid-template-columns: repeat(12, 6.9vw);
      column-gap: 1vw;

      @include forVerticalTablet {
        grid-template-columns: repeat(12, 6.5vw);
      }
      
      @include forMobile {
        grid-template-columns: repeat(2, 1fr);
      }

      .positions {
        grid-column: 1/3;

        @include forVerticalTablet() {
          grid-column: 1/5;
        }
      }

      .deadline {
        grid-column: 9/11;

        @include forVerticalTablet() {
          grid-column: 11/13;
          text-align: end;
        }
      }
    }
  }

  &__list {
    margin-top: 1vw;
  }
}

.vacancy {
  position: relative;

  &__content {
    @include hoverForLinks();

    padding: 2vw 0;
    display: grid;
    grid-template-columns: repeat(12, 6.9vw);
    column-gap: 1vw;
    align-items: center;
    
    @include forVerticalTablet {
      grid-template-columns: repeat(12, 6.5vw);
      row-gap: 2.5vw;
      padding: 8vw 0 2vw;
    }
    
    @include forMobile {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5vw;
      padding: 8vw 0 4vw;
    }
  }

  &__title {
    grid-column: 1/9;
    text-transform: none;
    text-wrap: wrap;

    @include forDesktop {
      padding-right: 1vw;
    }

    @include forMobile {
      grid-column: 1/3;
    }
  }

  &__deadline {
    grid-column: 10/13;
    display: flex;
    align-items: end;
    align-self: end;
    justify-self: end;
    
    @include forDesktop {
      align-self: center;
      grid-column: 9/11;
      justify-self: start;
    }

    @include forMobile {
      grid-column: 1/3;
    }
  
    & > h3 {
      line-height: 100%;
    }

    &-title {
      @include forMobile {
        text-transform: none;
        font-weight: 400;
      }
    }

    &-wrapper {
      @include forDesktop {
        display: none;
      }
      
      @include forMobile {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &__cathegory {
    grid-column: 11/13;
    border: 0.1vw solid $c-purple;
    padding: 0.5vw;
    width: fit-content;
    justify-self: end;

    @include forVerticalTablet() {
      grid-row: 1 / 1;
      grid-column: 1/5;
      justify-self: start;
      padding: 1vw 2vw;
    }
    
    @include forMobile {
      grid-row: 1 / 3;
      justify-self: start;
      padding: 1vw 2vw;
      grid-column: 1/2;
      text-wrap: nowrap;
    }

    &--cinematic-animation {
      border-color: $c-orange;
    }

    &--post-production {
      border-color: $c-blue;
    }
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $g-80;
    height: 0.1vw;
    z-index: 10;

    @include forVerticalTablet() {
      height: 0.3vw;
    }

    @include forMobile {
      height: 1vw;
    }
  }
}
