@import "/src/styles/global.scss";

.footer {
  background-color: $w-100;
  color: $b-100;
  height: 32vw;
  padding-bottom: 1vw;

  position: relative;
  z-index: 0;

  @include forMobile() {
    display: none;
    height: 56lvh;
    padding: 5vw 0;
  }

  &__top {
    @include grid();
    margin-bottom: 0.5vw;
  }

  &__link {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5vw 0;

    @include hoverForLinks();

    @include forVerticalTablet() {
      font-size: 1.7vw;
    }

    @include forMobile() {
      font-size: 3.2vw;
    }

    &:nth-of-type(1) {
      grid-column: 1/5;
    }
    &:nth-of-type(2) {
      grid-column: 5/9;
      opacity: 1 !important;
    }
    &:nth-of-type(3) {
      grid-column: 9/13;
    }
  }

  &__logo {
    @include forMobile() {
      display: none;
    }

    &--mobile {
      display: none;

      @include forMobile() {
        display: block;
      }
    }
  }

  &--mobile {
    display: none;

    &__wrapper {
      position: relative;
      height: 100%;
    }

    @include forMobile() {
      display: block;
    }

    .bottom {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      left: 5.2vw;
      right: 5.2vw;
    }
  }
}