@import "/src/styles/global.scss";

.about {
  margin: 10vw 0;
  position: relative;
  z-index: 2;

  &__title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20vw;
    margin: 0 auto;
    width: 57%;

    @include forVerticalTablet() {
      width: 89%;
    }

    @include forMobile() {
      width: 89%;
      padding: 0 5.2vw;
    }
  
    .word{
      position: relative;
      margin-right: 0.7vw;

      @include forMobile() {
        margin-right: 2vw;
      }
      
      &:nth-of-type(8) {
        @include forDesktop() {
          margin-right: 4vw;
        }
      }

      &__shadow{
        position: absolute;
        opacity: 20%;
      }
    }
  }

  &__icon {
    width: 3.5vw;
    height: 3.7vw;
    position: absolute;
    top: 7.7%;
    left: 47.3%;
    transform: scale(1.5);
  }
}