@import '/src/styles/global.scss';

.border-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  &.hover {
    &:hover {
      .border-button__line {
        width: 39%;
        height: 8%;
      }
    }
  }

  &__text {
    @extend %body-text;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;

    border: 0.1vw solid $c-purple;
    width: 39%;
    height: 8%;

    font-weight: normal;

    @include forVerticalTablet() {
      width: 55%;
      height: 13%;
    }

    @include forMobile() {
      width: 41%;
      height: 11%;
    }
  }

  &__lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  
  &__line {
    position: absolute;
    border: 0.1vw solid;
    // transition: all 1s $ExpoInOut;

    &-1 {
      width: 100%;
      height: 100%;
      border-color: $c-orange;
      transition: all 1s 0.2s $ExpoInOut;
      // transition: all 1s $ExpoInOut;
    }
    
    &-2 {
      width: 92%;
      height: 72%;
      border-color: $c-yellow;
      transition: all 1s 0.1s $ExpoInOut;

    }
    
    &-3 {
      width: 72.5%;
      height: 34.1%;
      border-color: $c-blue;
      transition: all 1s $ExpoInOut;
      // transition: all 1s 0.2s $ExpoInOut;

    }
  }
}